kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}

$screen-height: 144px * 3;
$screen-width: 160px * 3;

#game-boy {
  display: grid;
  grid-template-columns: auto 100px $screen-width 100px auto;
  grid-template-rows: 50px 50px ($screen-height / 2) ($screen-height / 2) 50px 50px;
}

#screen, #screen-overlay, .screen-background {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

#screen {
  display: block;
  margin: auto;
  width: $screen-width;
  height: $screen-height;
  outline-style: solid;
  z-index: 2;
}

.screen-background {
  display: flex;
  background: white;
  z-index: 1;
}

#screen-overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  font-family: "Press Start 2P", monospace;
}

.screen-border {
  display: inline-block;
  background-color: gray;
  border-radius: 25px 25px 100px 25px;
  grid-column: 2 / 5;
  grid-row: 2 / 6;
}

.power {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.power-light {
  margin: auto;
  margin-bottom: 10px;
  background: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.top-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-family: sans-serif;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
}

.rom-container {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
